.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notesContainer {
  display: flex;
  width: 750px;
  padding: 20px;
  background-color: var(--color-white-200);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 20%);
}

.emptyList {
  margin-inline: auto;
}