.list {
  display: flex;
  width: 100%;
  background-color: var(--color-dark-grey);
  box-shadow: 0px 0px 5px var(--color-dark-grey);
  margin-bottom: 20px;
}

.link,
.active {
  display: block;
  padding-block: 14px;
  padding-inline: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: var(--color-white-100);
  transition: all .3s;
}

.link:hover {
  color: var(--color-accent-blue);
}

.active {
  background-color: var(--color-white-200);
  color: var(--color-dark-grey);
}