.errorMessage {
  width: 380px;
  position: absolute;
  top: 0px;
  right: -395px;
  background-color: #fff;
  padding-block: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  text-align: center;
  color: #9c1a15;
  z-index: 9999;
}