.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.title {
  padding-inline: 20px;
  font-size: 1.5rem;
  color: #301b28;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #301b28;
  transition: color .3s;
}

.link:visited {
  color: #523634;
}

.link:hover {
  color: #b6452c;
}